.menu-container {
  &-filter {
    margin: 0 auto 30px;
    width: 300px;

    &-search {
      width: 300px;
      margin-bottom: 32px;
    }
    &-range {
      width: 300px;
      margin-bottom: 48px;
    }
  }
}
